#ignore node_modules
**/node_modules
build
**/map/
**/ssr-build/
webgl
pub
public/cesium/
ver_bak
coverage
**/assets
temp
tmp
**/tmp.*
**/*.grib
nohup.out
.vscode
*.save
*.bak
*.swp
*~
.DS_Store
.credentials.*
.eslintrc.*
**/*.pem
**/*.key
**/*.cert
../.env
**/.cache
**/.log
**/.setting.*
**/*-lock.json
**/size-plugin.json
**/wind_gl
**/wind_gfs
**/dist
**/tests
**/cesium_css_modify.sh
.testenv.js
distdll

