**/node_modules
**/build/
**/map/
**/ssr-build/
**/ver_bak
**/coverage
**/temp
**/tmp
**/tmp.*
**/*.grib
**/.vscode
**/*.save
**/*.bak
**/*.swp
**/*~
**/.DS_Store
**/.credentials.*
**/*.pem
**/*.key
**/*.cert
**/.env
**/.cache
**/.log
**/.*.login.*
**/.setting.*
**/.ssologin.*
**/size-plugin.json
**/cesium_css_modify.sh
**/.testenv.js
**/distdll
.Rproj.user
**/.Rproj.user
**/.Rhistory
**/cache
**/__pycache__
**/dist
**/dist_*
**/*_cache.sqlite
