//views/layout.pug
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js')
    body
        block content

